doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js(data-ng-app='smApp', lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='stylesheet', href='css/vendor/bootstrap.css')
    link(rel='stylesheet', href='css/vendor/bootstrap-theme.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/vendor/modernizr.js')
  body
    //if lt IE 8
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    // Add your site or application content here
    nav.navbar.navbar-inverse(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(ui-sref='home') App Name/Logo
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li(ng-class='{ active: isActive("/")}')
            a(ui-sref='home') Link
          li(ng-class='{ active: isActive("/")}')
            a(ui-sref='home') Link
        form.navbar-form.navbar-left(role='search')
          .form-group
            input.form-control(type='text', placeholder='Search')
          button.btn.btn-default(type='submit') Submit
      // /.navbar-collapse
    div(ui-view)
  script(src='//code.jquery.com/jquery-2.0.3.min.js')
  // attempt to load AngularJS from CDN
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js')
  script(src='js/vendor/bootstrap.min.js')
  script(src='js/vendor/ui-bootstrap-tpls-0.6.0.min.js')
  script(src='js/vendor/angular-ui-router.min.js')
  script(src='js/app.js')
  
  
  