!!! 5
html(data-ng-app='appName', lang='en')
	head
		meta(name='author', content='content')
		meta(charset='UTF-8')
		title Title
		//link(href='css/bootstrap-responsive.css', rel='stylesheet')
		link(href='css/bootstrap.css', rel='stylesheet')
		link(href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', rel='stylesheet')
		link(href='css/style.css',rel='stylesheet')
	body
		div(data-ng-view='')

	script(src='//code.jquery.com/jquery-2.0.3.min.js')
	// Angular JS off CDN, otherwise fallback.
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js')
	script
		window.angular || document.write('<script src="scripts/vendor/angular.min.js"><\\/script>');
	script(src='scripts/vendor/angular-route.min.js')
	script(src='scripts/vendor/ui-bootstrap-tpls-0.5.0.min.js')
	script(src='scripts/vendor/keypress.js')
	//script(src='scripts/vendor/bootstrap.js')
	script(src='scripts/script.js')

